@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: var(--gray-50);

  --gray-50: rgb(249 250 251);
  --gray-100: rgb(243 244 246);
  --gray-200: rgb(229 231 235);
  --gray-300: rgb(209 213 219);
  --gray-400: rgb(156 163 175);
  --gray-500: rgb(107 114 128);
  --gray-600: rgb(75 85 99);
  --gray-700: rgb(55 65 81);
  --gray-800: rgb(31 41 55);
  --gray-900: rgb(17 24 39);

  --blue-400: rgb(96 165 250);
  --blue-600: rgb(37 99 235);
  --blue-700: rgb(29 78 216);

  --teal-300: rgb(94 234 212);
  --teal-600: rgb(13 148 136);
  --teal-700: rgb(15 118 110);

  --sky-300: rgb(125 211 252);
  --sky-700: rgb(3 105 161);
  --sky-800: rgb(7 89 133);
  --sky-900: rgb(12 74 110);

  --red-300: rgb(252 165 165);
  --red-500: rgb(239 68 68);
  --red-700: rgb(185 28 28);
  --red-800: rgb(153 27 27);

  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
}

*,
*:before,
*:after {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text);
  font-family: sans-serif;
  font-size: 16px;
  background: var(--slate-800);
}

h1 {
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  font-weight: 700;
  @apply text-gray-200;
}

h2 {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  font-weight: 700;
  @apply text-gray-200;
}

h3 {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 700;
  @apply text-gray-200;
}
